<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eru.service.android.fish">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <receiver
            android:name=".broadcast.AppBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyBackgroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyIntentService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>